.todoForm {
    display: flex;
    justify-content: space-between;

    background-color: #eee;
    border-radius: 12px;
    padding: 30px;

}

.inputs {
    align-items: center;
    display: flex;
    gap: 20px;
}
